.number-window {
  text-align: center;
  font-weight: bold;
  spacing: 1em;
  margin: 3px;
  padding: 2px;
  border: 1px;
  border-color: #747467;
  border-radius: 0.6em;
  min-width: 48px;
  min-height: 48px; 
  background-color: rgba(66, 72, 73, 1);
  color: #eeeeec;
}

.number-window .number-label {
    font-size: 2.5em;
}
